<form action="/mongoSearch" method="GET">
    <label for="search">Search</label>
    <input type="search" name="search">
    <button type="submit">Search</button>
</form>

<% if (typeof(result) !== 'undefined') { %>
    <table>
    <tr>
        <th>First Name </th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Occupation</th> 
    </tr>   
    <% if(result.length > 0) { %>
        <% result.forEach(Data => { %>
                    <tr>
                        <th><%= Data.item.first_name%></th>
                        <th><%= Data.item.last_name%></th>
                        <th><%= Data.item.email%></th> 
                        <th><%= Data.item.occupation%></th> 
                    </tr>
            <% }) %>
    <% } %>
    </table>
<%}%>