<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<div class="center-container" id="top-margin">
<h1>Privacy Policy</h1>
</div>
<div class="center-container">
<ol>
    <li>We respect your privacy and protect any personal information you provide to us.</li>
    <li>We will not share or sell your information to third parties.</li>
    <li>We use your information only for the purpose of providing our Service to you.</li>
    <li>You may access and update your information at any time.</li>
</ol>
</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->