<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<h1>Register</h1>

<form action="/register" method="POST">
  <div>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Name"
      class="input-class"
    />
  </div>
  <div>
    <input
      type="text"
      id="email"
      name="email"
      placeholder="Email"
      class="input-class"
    />
  </div>
  <div>
    <input
      type="text"
      id="password"
      name="password"
      placeholder="Password"
      class="input-class"
    />
  </div>
  <div>
    <button type="submit" class="submit-button">Register</button>
  </div>
  <nav>
    <a href="/login">Login</a>
  </nav>
</form>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
