<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<div class="center-container" id="top-margin">
<h1>Terms of Service</h1>
</div>
<div class="center-container">
<ol>
    <li>Our Service provides a platform for demonstrating a full stack application</li>
    <li>By using our Service, you agree to be bound by these terms.</li>
    <li>You may use our Service only if you can form a binding contract with us.</li>
    <li>We may modify these terms at any time.</li>
</ol>
</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->