form {
    width: 300px;
    height: 350px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    
}

.center {
    display: flex;
    justify-content: center;
}

#lablepad {
    margin-right: 8px;
}

.input-class {
    padding: 2px;
    margin: 2px;
    
}

.submit-button {
    margin-top: 8px;
    width: 177px;
    height: 25px;
    margin-bottom: 10px;
}
