<footer>
    <p><b>Cody Fisher © 2023</b></p>
    <a href="mailto:fishercody23@gmail.com">Email</a>
    <a href="https://www.linkedin.com/in/fishercody21/">LinkedIn</a>
    <a href="https://github.com/CFisher21">GitHub</a>
    <a href="https://github.com/CFisher21/SearchBar">Repository</a>
</footer>
</body>
</html>