<nav>
  <a href="/login-after">Search Postgres</a>
  <a href="/mongo">Search MongoDB</a>
  <a href="/searchboth">Search Postgres and MongoDB</a>
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log out</button>
  </form>
</nav>